---
import { routes } from "@utils/constants/routes";
import "@styles/components/header.css";
import { Image } from "astro:assets";

import logoImg from "@assets/img/generic/logo-white.png";
---

<header class="header-container header-opacity" id="headerContainer">
    <div class="logo-hamb_container">
        <h1 class="h-logo_container">
            <a href="/">
                <Image loading="lazy" src={logoImg} alt="" id="logoSite" />
            </a>
        </h1>
        <button class="hamburguer-menu" id="mobileMenuToggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <!-- NAV MOBILE -->
    <div class="nav-container__mobile hidden-menu" id="navMenu">
        <nav class="main-nav">
            <ul class="h-links_container">
                {
                    routes.map((section) => {
                        return section.routes.length == 0 ? (
                            <li>
                                <a
                                    class="link-item"
                                    href={`${section.basePath}`}
                                >
                                    {section.section}
                                </a>
                            </li>
                        ) : (
                            <>
                                <p class="section-nav-title">
                                    {section.section.toLocaleUpperCase()}
                                </p>
                                {section.routes.map((route) => (
                                    <li>
                                        <a
                                            class=" link-item_sub link-item"
                                            href={`${section.basePath}${route.path}`}
                                        >
                                            {route.name}
                                        </a>
                                    </li>
                                ))}
                            </>
                        );
                    })
                }
            </ul>
        </nav>
    </div>

    <!-- NAV DESKTOP -->
    <div class="nav_container__desktop">
        <nav class="">
            <ul class="ul-container" id="menuContainerDesktop">
                {
                    routes.map((section, idx) => {
                        return section.type === "link" ? (
                            <li>
                                <a
                                    class="drop-title"
                                    href={`${section.basePath}`}
                                >
                                    {section.section}
                                </a>
                            </li>
                        ) : section.type === "dropdown" ? (
                            <li class="">
                                <p class="drop-title" data-droptrigger={idx}>
                                    {/* <a href={section.basePath}> */}
                                    {section.section}
                                    {/*   el nombre que aparece en el menu Header  NOTA: En el caso de boxlist no tiene enlace en el nombre de la seccion*/}
                                    {/* </a> */}
                                </p>
                                <ul
                                    class={`drop-content hidden-drop ${section.containerClass}`}
                                    data-dropcontent={idx}
                                >
                                    {section.routes.map(
                                        (route) =>
                                            route.show && (
                                                <li class={`drop-item-li`}>
                                                    <a
                                                        class=" link-drop"
                                                        href={`${section.basePath}${route.path}`}
                                                    >
                                                        {route.name}
                                                    </a>
                                                </li>
                                            ),
                                    )}
                                    <li>
                                        <a
                                            class={`see-more-btn`}
                                            href={section.basePath}
                                        >
                                            Ver más...
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        ) : section.type === "box" ? (
                            <li class="">
                                <p class=" drop-title" data-droptrigger={idx}>
                                    {section.section}
                                </p>
                                <div
                                    class={`box-content hidden-drop ${section.containerClass}`}
                                    data-dropcontent={idx}
                                >
                                    {section.illustration &&
                                        section.illustration != "" && (
                                            <figure>
                                                <Image
                                                    loading="lazy"
                                                    src={section.illustration}
                                                    alt="imagen galeria"
                                                    width={50}
                                                    height={50}
                                                />
                                            </figure>
                                        )}

                                    <ul class="">
                                        {section.routes.map(
                                            (route) =>
                                                route.show && (
                                                    <li>
                                                        <a
                                                            class=" link-drop"
                                                            href={`${section.basePath}${route.path}`}
                                                        >
                                                            {route.name}
                                                        </a>
                                                    </li>
                                                ),
                                        )}
                                    </ul>
                                </div>
                            </li>
                        ) : section.type === "boxList" ? (
                            <li class="">
                                <p class=" drop-title" data-droptrigger={idx}>
                                    {/* <a
                                        class=" link-drop"
                                        href={`${section.basePath}`}
                                    > */}
                                    {section.section}{" "}
                                    {/*   el nombre que aparece en el menu Header  NOTA: En el caso de boxlist no tiene enlace en el nombre de la seccion*/}
                                    {/* </a> */}
                                </p>
                                <div
                                    class={`boxlist-content hidden-drop ${section.containerClass}`}
                                    data-dropcontent={idx}
                                >
                                    {section.illustration &&
                                        section.illustration != "" && (
                                            <figure>
                                                <Image
                                                    loading="lazy"
                                                    src={section.illustration}
                                                    alt="imagen galeria"
                                                    width={50}
                                                    height={50}
                                                />
                                            </figure>
                                        )}
                                    {/* UL LIST CONTAINER  */}
                                    <div>
                                        <div class={`boxlist-container`}>
                                            {section.routes.map(
                                                (route) =>
                                                    route.show && (
                                                        <div
                                                            class={`boxlist-lists`}
                                                        >
                                                            <p
                                                                class={`boxlist-title-section`}
                                                            >
                                                                {route.name}
                                                            </p>

                                                            <ul
                                                                class={`boxlist-container__ul`}
                                                            >
                                                                {route.subRoutes &&
                                                                    route.subRoutes.map(
                                                                        (sub) =>
                                                                            sub.show && (
                                                                                <li>
                                                                                    <a
                                                                                        class=" link-drop"
                                                                                        href={`${section.basePath}${route.path}?tab=${sub.name}`}
                                                                                    >
                                                                                        {
                                                                                            sub.name
                                                                                        }
                                                                                    </a>
                                                                                </li>
                                                                            ),
                                                                    )}
                                                            </ul>
                                                        </div>
                                                    ),
                                            )}
                                        </div>

                                        <a
                                            class={`see-more-btn`}
                                            href={section.basePath}
                                        >
                                            Ver más...
                                        </a>
                                    </div>
                                </div>
                            </li>
                        ) : null;
                    })
                }
            </ul>
        </nav>
    </div>
</header>
