---
import Layout from "./Layout.astro";
import "@styles/layout/layoutGallery.css";
import galleryImage from "@assets/img/generic/wedding-bg.jpg";
import { Image } from "astro:assets";
const { title, subtitle, imgBackground } = Astro.props;
---

<Layout title={`Galería - ${title}`} description={subtitle}>
    <main class="main-gallery-layout">
        <div class="gallery-header-section" data-aos="fade-down">
            <div class="gallery-nav-breadcrumb">
                <a href="/gallery">Colecciones</a> <span class="separator">/</span> <span>{title}</span>
            </div>
            <h1 class="gallery-main-title">{title}</h1>
            <p class="gallery-subtitle">{subtitle}</p>
        </div>

        <div class="gallery-content-wrapper" data-aos="fade-up" data-aos-delay="200">
            <slot />
        </div>
    </main>
</Layout>
